<mat-toolbar>

    <button (click)="openCloseMenu()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>

    <!-- <div style="display: flex;align-items: center;align-content: center;gap: 5px;margin-left: 15px;">
        <img style="width: 40px;height: 30px;" src="../../../assets/belgium-flag.png" alt="">
        <span>Belgique - Bruxelle</span>
    </div> -->


    <span class="example-spacer"></span>
    <button mat-raised-button class="edit-butt" (click)="logout()">Logout</button>

    <!-- <div class="info" [matMenuTriggerFor]="menu">
        <span *ngIf="auth.currentUserValue" class="name">{{auth.currentUserValue.email}}</span>
        <mat-icon class="mat-icon">account_circle</mat-icon>
    </div>
    <mat-menu #menu="matMenu">
        <button *ngIf="!auth.currentUserValue" (click)="goTo('/register')" mat-menu-item>
        <mat-icon>add_circle_outline</mat-icon>
        <span>Register</span>
      </button>
        <button *ngIf="!auth.currentUserValue" (click)="goTo('/login')" mat-menu-item>
        <mat-icon>login</mat-icon>
        <span>Login</span>
      </button>
        <button *ngIf="auth.currentUserValue" (click)="auth.logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu> -->
</mat-toolbar>