<div class="row portfolio">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0" *ngFor="let row of imageService.images">
    <div class="card portfolio" *ngFor="let image of row.imageList">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{image.title}}</mat-card-title>
        </mat-card-header>
        <img routerLink="./{{image.title}}" mat-card-image [src]="image.blob">
      </mat-card>
    </div>
  </div>
</div>
