
<body class="body">
    <mat-toolbar color="primary" class="example-toolbar navbar">
      <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
      <h1 routerLink="/" class="example-app-name">ServerLess</h1>
    </mat-toolbar>
  <div class="container-fluid">
    <mat-sidenav-container class="example-container">
      <mat-sidenav #sidenav mode="over" [(opened)]="opened">
        <div *ngIf="info.connected == true">
          <app-sidebar></app-sidebar>
        </div>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</body>
