.login {
    width: 25vw;
}

.form {
    width: 100%;
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.title {
    margin-bottom: 0px;
}

.login-butt {
    width: 50%;
    margin-top: 1.25em
}

.to-register {
    margin-top: 1.00em;
    color: var(--text_color_sec)
}

a {
    color: var(--text_color)!important;
}