body {
}

.portfolio {
    margin-top: 10px;
}

.portfolio-image {
}

.own-message {
    text-align: right
}

.message {
    text-align: left
}

.messageBox {
    width: 100%
}

.messageButton {
  position: absolute;
  top: 0;
  right: 0;
}
